{% extends "layout.html" %}
{% block content %}
<div class="hero-wrap" style="background-image: url({{url_for('static',filename='images/bg_1.jpg')}});">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text d-flex align-itemd-end justify-content-center">
          <div class="col-md-9 ftco-animate text-center d-flex align-items-end justify-content-center">
          	<div class="text">
	            <h1 class="mb-4 bread">Admin</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <form action="/admin" method="POST" class="bg-white pt-5">
                <div class="form-group">
                    <label for="exampleInputEmail1">Price</label>
                    <input type="text" class="form-control" id="price" name="price" aria-describedby="emailHelp" placeholder="Price">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Capacity</label>
                    <input type="text" class="form-control" id="capacity" name="capacity" placeholder="Capacity">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Floor No</label>
                    <input type="text" class="form-control" id="floorno" name="floorno" placeholder="Floorno">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Child Bed</label>
                    <input type="text" class="form-control" id="childbed" name="childbed" placeholder="Childbed">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Adult Bed</label>
                    <input type="text" class="form-control" id="adultbed" name="adultbed" placeholder="Adultbed">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Room Type</label>
                    <input type="text" class="form-control" id="roomtype" name="roomtype" placeholder="Room Type">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">İnDate</label>
                    <input type="text" class="form-control" id="inDate" name="inDate" aria-describedby="emailHelp" placeholder="inDate">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">OutDate</label>
                    <input type="text" class="form-control" id="outDate" name="outDate" aria-describedby="emailHelp" placeholder="outDate">
                </div>
                <div class="form-group">
                    <input type="checkbox" class="form-check-input" name="isreserve"  id="isreserve">
                    <label for="exampleInputPassword1">Reserve?</label>
                </div>
                
                <!--
                <input type="text" name="price" id="price">
                <input type="text" name="capacity" id="capacity">
                <input type="text" name="floorno" id="floorno">
                <input type="text" name="childbed" id="childbed">
                <input type="text" name="adultbed" id="adultbed">
                <input type="checkbox" name="isreserve" id="isreserve">-->
                <input type="submit" class="btn btn-primary" value="Submit">
            </form>
        </div>
    </div>
</div>
{% endblock content %}